.blog-area {
  margin: 80px auto;
  line-height: 1.875;
  h5.title {
    font-size: 20px;
    // margin-bottom: 5em;
    font-weight: 500;
  }
  .blog {
    margin: 8em auto;
  }
  h2 {
    font-weight: 200;
  }
  p {
    font-size: 18px;
    font-weight: 100;
    &.author {
      font-size: 16px;

    }
    &.blog-intro {
      font-weight: 600;
      font-style: italic;
    }
  }
  span {
    border-bottom: 1px solid #000;
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 2.5%;
  }
  ul li.active {
    background: black;
  }
  .card {
    margin-top: 40px;
    .card1 {
      background-image: url(../img/cactus.jpg);
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 2px 2px 0 0;
      height: 175px;
      width: 100%;
    }
  }
  .search-area {
  margin: 10vh auto;
  }
}
