// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.article-area{
  margin-top: 5em;
  opacity: 0;
  h6 {
    font-size: 1.2rem;
  }
  .line {
    @include line;
    background-color: var(--text);
  }
  color: var(--text);
}

.card-area{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5em;
  margin-bottom: 10em;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery{
  width: 65%;
  margin: 2em auto;
  color: var(--text);
}
.gallery-header{
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5em 0;
}

.gal-line{
  display: flex;
  justify-content: center;
  height: 200px;
  border-left: 1px solid lightgrey;
}

.gallery-nav ul{

  display: flex;
  li {
    margin: 0 1em;
    &:hover {
      text-decoration: underline;
    }
  }
}




.gall-col{
  height: 110vh;
  display: flex;
  flex-direction: column;
}

.gal-item {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: auto;
  margin-bottom: 2em;

}
.item1, .item6{
  flex-grow: 2;
}
.gal-img {
  // opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.gal-content {
  width: 100%;
  height: 100%;
}
.gal-content{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top:0;
  left: 0;
  background-color: #0000005e;
  color: white;
  opacity: 0;
  h3 {
    margin-left: 40px;
  }
  p {
    margin-left: 40px;
    margin-bottom: 3em;
  }
  &:hover{
    animation: content .5s ease-in-out forwards;
  }
  &:hover p, &:hover h3{
    animation: text .7s ease-in-out forwards;
  }
  @keyframes content {
    0%{
      opacity: 0
    }
    100%{
      opacity: 1
    }
  }
  @keyframes text {
    0%{
      transform: translateY(0px);
    }
    100%{
      transform: translateY(-15px);
    }
  }
}
.gal-img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img1 {
  background-image: url(../img/gal-1.jpg);
  opacity: 0;
}
.img2 {
  background-image: url(../img/gal-2.jpg);
  opacity: 0;
}
.img3 {
  background-image: url(../img/gal-3.jpg);
  opacity: 0;
}
.img4 {
  background-image: url(../img/gal-4.jpg);
  opacity: 0;
}
.img5 {
  background-image: url(../img/gal-5.jpg);
  opacity: 0;
}
.img6 {
  background-image: url(../img/gal-6.jpg);
  opacity: 0;
}
i.email:hover {
  opacity: .5;
}

@media (max-width: 992px) {
  .gallery {
    width: 100%;
  }
  .item1, .item6{
    flex-grow: 1;
  }
}

@media screen and (max-width: 600px) {
  .article {
    margin: 5em auto;
  }
}
