.contact-us {
  color: white;
  .parallax-container {
    height: 75vh;
  }
  form {
    margin-top: 20vh;
  }
  h2 {
    font-family: "Roboto";
    font-weight: 100;
  }
  a {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: none;
  }
}
