// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.page-footer {
  opacity: 0;
  background-color: var(--background);
  p, h5 {
    color: var(--text);
  }
  .footer-container {
    height: 225px;
    margin-top: 5vh;
    margin-bottom: 1vh;
  }
  .footer-logo {
    background-image: url('../img/LL-04.png');
    background-repeat: no-repeat;
    background-size: contain;
    // margin-left: 15px;
    margin-top: 15px;
    height: 70px;
    width: 70px;
  }
  .footer-copyright {
    background-color: var(--background);
    // border-top: 1px solid #000;
    .copyright-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px;
      width: 100%;
      margin: 0 auto;
      .footer-icons {
        color: var(--text);
        font-size: 1em;
        padding-right: 20px;
      }
    }
  }
}
.footer-line-con {
  display: flex;
  justify-content: center;
  .footer-line {
    width: 100%;
    background-color: var(--text);
    height: 1px;
  }
}

// .footer-icons {
//   display: flex;
//   justify-content: center;
//   padding-bottom: 100px;
