// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.page-footer {
  background-color: #fff;
  p, h5 {
    color: #000;
  }
  .footer-container {
    height: 225px;
    margin-top: 100px;
  }
  .footer-copyright {
    background-color: #fff;
    border-top: 1px solid #000;
  }
}
