// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.parallax1 {
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 5em;
  margin-top: 5em;
  h2{
    margin: 0px;  }
}
.parallax2 {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5em;
  margin-top: 5em;
  h2{
    margin: 0px;  }
  .p2-list{
    display: flex;
    p {
      margin: 2em;
    }
  }
}
.parallax3 {
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 5em;
  margin-top: 15em;
  h4{
    margin: 0px;  }
  .p3-left{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
  }
  .p3-right{
    display: flex;
    // width: 70%;
    flex-grow: 1;
    justify-content: flex-start;
    button{
      background-color: transparent;
      border: 0;
    }
    .input-field{
      color: white;
    }
  }
}
