.modal {
  max-height: 100%;
  overflow-y: visible;
}

.screens{
  display: flex;
  justify-content: center;
}
.mobile{
  width: 426px;
  height: 784px;
  iframe {
    position: relative;
    height: 667px;
    width: 375px;
  }
  &:before{
    content: url("../img/mobile1.png");
    position: absolute;
    top: -110px;
    left: -20px;
    overflow-y: visible;
  }
}
.tablet{
  top: 3% !important;
  overflow: visible;
  width: 853px;
  height: 1122px;

  iframe {
    position: relative;
    height: 1024px;
    width: 768px;
  }
  .modal-footer{
    height: 42px;
  }
  &:before{
    content: url("../img/tablet.png");
    position: absolute;
    top: -48px;
    left: -57px;
    overflow-y: visible;
  }
}
.sticky {
  position: fixed;
  z-index: 1000;
  bottom: 0em;
  margin: 0 auto;
}
