.nav-wrapper {
  background-color: var(--background);
  color: var(--text);
  .brand-logo {
    color: var(--text);
    margin-left: 10px;
  }
  .side-nav{
    background-color: var(--background);
    li a{
      color: var(--text);
    }
  }
  i {
    color: var(--text)
  }
  .nav-item {
    color: var(--text);
    margin-right: 20px;
  }
  .dropdown-content li > a {
    color: #000;
  }
  .subheader {
    margin: 1em 0;
  }
}
