.nav-wrapper {
  background-color: var(--background);
  color: var(--text);
  .brand-logo{
    color: var(--text);
    fill: var(--text);
    .logo{
      // color: var(--text);
      // fill: var(--text);
      background-image: var(--img);
      background-repeat: no-repeat;
      background-size: contain;
      margin-left: 15px;
      margin-top: 15px;
      height: 30px;
      width: 30px;
    }
  }
  .side-nav{
    background-color: var(--background);
    li a{
      color: var(--text);
    }
  }
  i {
    color: var(--text)
  }
  .nav-item {
    color: var(--text);
    margin-right: 20px;
  }
  .dropdown-content li > a {
    color: #000;
  }
  .subheader {
    margin: 1em 0;
  }
}
