.nav-wrapper {
  background-color: var(--text);
  color: var(--background);
  .brand-logo {
    margin-left: 10px;
  }
  .nav-item {
    margin-right: 20px;
  }
  .dropdown-content li > a {
    color: #000;
  }
  .subheader {
    margin: 1em 0;
  }
}
