// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
  margin-top: 2em;
  background-color: var(--text);
  color: var(--background);
}
