body {
  font-family: 'Hind', cursive
}

.font1{
  font-family: 'Lobster', cursive;
}
.font2{
  font-family: 'Pacifico', cursive;
}
.font3{
  font-family: 'Berkshire Swash', cursive;
}
.font4{
  font-family: 'Permanent Marker', cursive;
}
