body {
  font-family: 'Hind', cursive
}

.font1{
  font-family: 'Lobster', cursive;
}
.font2{
  font-family: 'Pacifico', cursive;
}
.font3{
  font-family: 'Berkshire Swash', cursive;
}
.font4{
  font-family: 'Permanent Marker', cursive;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
